.handle {
  background-color: var(--primary-light);
  border-bottom: 1px solid #ddd;

  max-height: 30px;
  width: 100%;
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: start;

  .handle__control {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100px;
  }

  .handle__title {
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: move;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
  }
}
