.handle__button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;

  background-color: var(--bgcolor);
  transition: transform 100ms ease-in;
}

.close__button {
  --bgcolor: #ff5f56;
  --border-color: #e0443e;
}

.maximize__button {
  --bgcolor: #27c93f;
  --border-color: #1aab29;

  :global(svg) {
    transform: rotate(90deg);
  }
}

.minimize__button {
  --bgcolor: #ffbd2e;
  --border-color: #dea123;
}
