.handle__button {
    border-radius: 50%;
    height: 15px;
    margin: 0 10px;
    width: 15px;

  
}

.close__button {
    background-color: #ff5f56;;
}

.maximize__button {
    background-color: #27c93f;
}

.minimize__button {
    background-color: #ffbd2e;
}