@import '@design/util.scss';

.navbar {
  background: var(--secondary-light);
  color: var(--font-color);
  width: auto;
  padding: 15px 10px;
  height: 20px;
  margin: 20px 30px;
  border-radius: 10px;
  border: 2px solid var(--font-color);
  @extend .flex-between;
}
