.handle {
  --button-size: 0.8rem;

  background-color: var(--primary-light);
  border-bottom: 1px solid #ddd;

  max-height: 30px;
  width: 100%;
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .handle__control {
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    gap: 0.6rem;
    height: 100%;

    &.unfocused button {
      --bgcolor: #b6b6b7;
    }

    & :global(svg) {
      opacity: 0;
    }

    &:hover {
      button {
        transform: scale(1.2);
      }

      :global(svg) {
        opacity: 1;
      }
    }
  }

  .handle__title {
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: move;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
  }
}
