html {
  --s: 100px; /* control the size */
  --c1: #e1f5c4;
  --c2: #3b8183;

  --_g: #0000, #0004 5%, var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%, #0004 95%, #0000;
}

#root {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  background: radial-gradient(100% 50% at 100% 0, var(--_g)),
    radial-gradient(100% 50% at 0 50%, var(--_g)),
    radial-gradient(100% 50% at 100% 100%, var(--_g));
  background-size: var(--s) calc(2 * var(--s));
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
